services:
  backend:
    build: .
    restart: always
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=redis://redis:6379/0
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - ./backend:/app/backend
      - ./media:/app/media

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6380:6379"
